<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>
<h1>
{{#errors}}
  <h1>{{.}}</h1>
{{/errors}}
</h1>
